<body>
    <h1>A simple chat demo:</h1>
    <form>
        <label>Name and surname: </label>
        <input type="text" id="inputName" [(ngModel)]="identity" name="identity"><br><br>
        <label>Write the message to send:</label><br><br>
        <textarea id="message" rows="6" cols="60" [(ngModel)]="text" name="text"></textarea><br><br>
        <input type="button" id="inputName" (click)="sendMessage()" value="Send"><br><br>
        <p>Click the "Send" button to send the message</p>
    </form>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>

        <thead>
            <tr>
                <th>Name and surname</th>
                <th>Message</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>February</td>
                <td>$80</td>
            </tr>
        </tbody>
    </table>


</body>